@import "~bootstrap/scss/bootstrap";

html, body {
    height: 100%;
    width: 100%;
}
div#app {
    padding-top: 15px;
    padding-bottom: 15px;
}
div.body {
    padding-top: 15px;
    padding-bottom: 15px;
}
.photo-ctn {
    .col-item {
        padding: 15px;
        .card {
            cursor: pointer;
            height: 300px;
            .card-img-top{
                height: 180px;
                margin: auto;
                display: block;
            }
            .card-body {
                .card-title {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    
}
.thumbnail {
    height: 200px;
}
#viewPhotoModal {
    .img-ctn {
        background: #000000;
        .photo-img {
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
            top: 0;
            display: block;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    .desc {
        font-style: italic;
        padding: 10px 0;
        text-align: justify;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
    }
}

@media (min-width: 1140px) {
    #viewPhotoModal {
        .modal-content {
            min-height: 700px;
        }
    }
}
@media (max-width: 992px) {
    #viewPhotoModal {
        .modal-content {
            min-height: 700px;
        }
    }
}
@media (max-width: 768px) {
    #viewPhotoModal {
        .modal-content {
            min-height: 600px;
        }
    }
}
@media (max-width: 576px) {
    #viewPhotoModal {
        .modal-content {
            min-height: 500px;
            .desc {
                font-size: 12px;
            }
        }
    }
 }