@import "~bootstrap/scss/bootstrap";

html, body {
    height: 100%;
    width: 100%;
}
div#app {
    padding-top: 15px;
    padding-bottom: 15px;
}
div.body {
    padding-top: 15px;
    padding-bottom: 15px;
}
.card-deck {
    padding: 15px 0;
    .card {
        height: 300px;
        .card-img-top{
            height: 180px;
            margin: auto;
            display: block;
        }
        .card-body {
            .card-title {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
.thumbnail {
    height: 200px;
}
.photo-img {
    width: 100%;
    height: 600px;
}
.photo-list {
    .img-thumbnail {
        height: 180px;
        display: block;
        margin: auto;
    }
}
@media (max-width: 576px) {
    .photo-list {
        .img-thumbnail {
            height: 80px;
        }
    }
 }